  
  .carousel-items {
    min-width: 240px;
    min-height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;

  }
  .carousel-item:hover ~ .carousel-items {
    -webkit-transform: translate3d(90px, 0, 0);
            transform: translate3d(90px, 0, 0);
  }
    
  .carousel-items:hover {
      transform: scale(1.1);
      opacity: 1;
  }
  
  
  .carousel-item__image{
    position: absolute;
    top: -.5px;
    left: -10px;
    border-radius: 20px;
    width: 250px;
    height: 300px;
    object-fit: fill;
  }
  
  .carousel-item__description {
    width: 250px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.904) 90%, rgba(0, 0, 0, 0.76) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 4;
}

.carousel-item__description img {
    background: transparent;
    width: 30px;
    height: 25px;
    
}


  .carousel-items:hover .carousel-item__description {
    opacity: 1;
    color:#fbfbfb;
  }

  .carousel-item__description div{
    background: transparent;
  }
  
  .carousel-item__description--title {
    background: transparent;
    color: #fbfbfb;
    font-size: 15px;
     margin: -5px 0px 0px -10px;
  }
  
  .carousel-item__description--subtitle {
    background: transparent;
    color: #fbfbfb;
    font-size: 12px;
    margin: 3px 0px;
  } 
  ::-webkit-scrollbar-corner {
    display: none;
    
  }
  ::-webkit-scrollbar {
    
    width: 8px;     
    height: 8px;

  }
  ::-webkit-scrollbar-thumb {
    
    background: gray;
    border-radius: 25px;
    height: 2px;
  }

  ::-webkit-scrollbar-track{
    width: 8px;     
    height: 8px;
  }