.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.header_logo {
    position: relative;
    margin: auto 50px auto 10px;
    width: 150px;
    height: 70px;
    display: inline-block;
    background-image: url('../../images/icons/Matflix.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    position: relative;
margin-right: 30px;
align-items: center;
justify-content: center;
}
.profile-conteiner {
display: flex;
justify-content: center;
align-items: center;
}
img {
width: 50px;
padding-left: 8px;
padding-top: 2px;
}

ul{
display: none;
top: 0;
right: 50%;
transform: translate(15%, 100%);
list-style: none;
width: 200px;
height: auto;
position: absolute;
z-index: 11111;
}

a{
font-size: 17px;
color:#fbfbfb;
padding-bottom: 50px;
text-decoration: none;
}


a:hover, li:hover {
text-decoration: underline;
}

.menu:hover ul,
ul:hover {
text-align: right;
display: block;
}
  
  
   

