
.search_section {
height: 100%;
width:80%;
}

.searcher {
align-items: left;
margin-top: 2.5%;
width: 90%;
height: 40px;
border: 1px solid #db7093;
border-radius: 10px;
background: transparent;
padding: 0px 20px;
color: #db7093;
font-size: 20px;
outline: none;
}
.searcher::placeholder {
color: #db7093;
}
