@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #333;
  color: #fbfbfb;
  font-family:  'Muli', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
